.preview-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .preview-left {
    flex: 1;
    margin-right: 20px;
  }
  
  .preview-right {
    flex: 1;
  }
  
  .preview-image,
  .preview-pdf {
    width: 100%;
    height: 800px;
  }
  
  .input-field {
    width: 100%;
    height: 500px;
    font-size: 16px;
    padding: 10px;
  }
  